---
interface Props {
  id: string;
}

const { id } = Astro.props;
const url = Astro.url.href;
---

<form action="/actions/upload" method="post" enctype="multipart/form-data">
  <input type="hidden" value={url} name="url" required />
  <input type="hidden" value={id} name="id" required />
  <div>
    <label for={`file-input-${id}`}>Image file</label>
    <input
      type="file"
      name="file"
      required
      id={`file-input-${id}`}
      accept="image/png, image/jpeg, image/gif"
    />
  </div>
  <div>
    <label for={`filename-input-${id}`}>Filename</label>
    <input type="text" name="filename" id={`filename-input-${id}`} required />
  </div>
  <div>
    <label for={`alt-input-${id}`}>Alt text</label>
    <input type="text" name="alt" id={`alt-input-${id}`} />
  </div>
  <input type="submit" value="Upload image" />
</form>
